
<h3 id="titulo-registro"> Não entendemos o que você tentou fazer! </h3>
<p style="text-align: center;">
    <img src="../_assets/erro.png" alt="Mensagem de Erro" width="50%"><br>
    Escolha uma das opções abaixo ou tente novamente mais tarde<br><br>
    <a href="/"><button class="btn btn-outline-dark">INICIO</button></a>
    <a href="/registros"><button class="btn btn-outline-dark">REGISTROS</button></a>
</p>