:root {
    --primeira-cor: #CED4DA;
    --segunda-cor: #212529;
    --terceira-cor: #fff;
    --primeira-fonte: 'Open Sans', sans-serif;
}
/* HERO */
.hero {
    background-image: url(../_assets/img1.png);
    background-size: cover;
    min-height:100vh;
    color: var(--terceira-cor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}
.hero h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.hero .btn {
    background-color: var(--terceira-cor);
    border-radius: 4px;
    color: var(--segunda-cor);
    padding: 10px 50px;
    text-transform: uppercase;
}
@media (max-width: 700px){
    .hero h1 { font-size: 2.5em;}
    .hero h3 { font-size: 1.5em;}
}
/* Rodapé */
.rodape {width: 100%; float: left; padding: 3% 4%; text-align: center; background-color: var(--segunda-cor);}
.social-icons a {font-size: 1.5em; color: var(--primeira-cor); margin-right: 3%;}
.social-icon a:last-child {margin-right: 0;}
.social-icons a:hover {color: var(--terceira-cor);}
.copyright {margin-top: 2%; color: var(--primeira-cor);}
h2, h3, p { font-weight: bold;}
h3 {font-size: 2em; text-align: center; margin-top: 25%; }

.registros { margin: 5%; }
.registros h3 { text-align: left;}
#titulo-registro { font-weight: bold; font-size: 2.5em; text-align: center;}


.perfil {display: flex; justify-content: center; }
.perfil > article {margin-left: 1rem;}
.perfil > article > h3 {font-size: 3rem;font-weight: bold;}
.perfil > article > h3 > span {font-size: 1.5rem;color: #888585;font-weight: lighter;}
.perfil > article > p { font-weight: normal; width: 50rem; }

.perfil > article a.button-wrapper {
    color: #fff;
    padding: .5rem 1.2rem;
    border-radius: 25px;
    text-decoration: none;
    margin-right: .7rem;
}

.perfil > article a.button-wrapper.button-website { background: #212529; }
.perfil > article a.button-wrapper.button-tel { background: #a98467; }
.perfil > article a.button-wrapper.button-whatsapp { background: #01a783; }
.perfil > article a.button-wrapper.button-mail { background: #f3722c; }

.perfil > #avatar {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
}